<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>О книге</h1>
<body>

<div>
    <span>Название книги: </span> <span th:text="${books.book_name}">Value</span>
</div>
<div>
    <span>Год издания книги: </span> <span th:text="${books.publishingYear}">Value</span>
</div>
<div>
    <span>Автор книги: </span> <span th:text="${books.authorsName + ' ' + books.authorsSurname + ' ' + books.authorsLastname}">Value</span>
</div>
<div>
    <span>Доступное количество книг: </span> <span th:text="${books.quantity}">Value</span>
</div>
</body>
</html>